<app-navbar></app-navbar>
<h2 class="text-center">Welcome ManagerName!</h2>
<div class="tableArea">
  <!-- <div class="row">
    <div class="col-8">
      <h4>Reimbursement Requests</h4>
    </div>
    <div class="col text-right">
        <button type="button" id="filterStatusButton" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown">Filter By Status</button>
        <div class="dropdown-menu">
          <a class="dropdown-item">Pending</a>
          <a class="dropdown-item">Approved</a>
          <a class="dropdown-item">Denied</a>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col"> -->
      <app-mgr-table [expenses]="requests"></app-mgr-table>

</div>
