<app-navbar></app-navbar>
<h3>Submit a New Expense</h3>
<form #newExpForm="ngForm" (ngSubmit)="submit()" novalidate>
    <div class="form-group">
        <label for="transDate">Transaction Date</label>
        <input type="date" #nametd="ngModel" name="transDate" [(ngModel)]="expense.transDate" required class="form-control">
        <div class="text-danger" [hidden]="nametd.pristine || getTodaysDate() > nametd.value">Date can't be in the future</div>
    </div>
    <div class="form-group">
        <label for="expAmount">Transaction Amount</label>
        <input type="number" min="0.01" step="0.01" name="expAmount" #name="ngModel" [(ngModel)]="expense.amount" required class="form-control" placeholder="0.00">
    </div>
    <div class="form-group">
        <label for="expType">Expense Type</label>
        <select name="expType" #name="ngModel" [(ngModel)]="expense.expType" required class="form-control">
            <option value=1>1. Lodging</option>
            <option value=2>2. Travel</option>
            <option value=3>3. Food</option>
            <option value=4>4. Other</option>
        </select>
    </div>
    <div class="form-group">
        <label for="descr">Merchant Name</label>
        <input type="text" name="descr" [(ngModel)]="expense.merchant" required class="form-control" placeholder="Merchant Name">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!newExpForm.valid || (nametd.value > getTodaysDate())">Submit</button>
    <!-- <button type="submit" class="btn btn-primary" *ngIf="newExpForm.valid">Submit</button> -->
    <!-- <button type="submit" [routerLink]="['/success-page']" routerLinkActive="router-link-active" class="btn btn-primary">Submit</button> -->
</form>