<app-navbar></app-navbar>

  <h2 class="text-center">Welcome EmployeeName!</h2>
  <div class="row">
    <button [routerLink]="['/new-exp']" routerLinkActive="router-link-active" type="button" class="btn btn-outline-primary btn-block my-4">Submit New Expense (make this a component?)</button>
  </div>
  <div class="tableArea">
    <app-emp-table [expenses]="requests"></app-emp-table>
    <!-- <div class="row">
      <div class="col-8">
        <h4>Submitted Expenses</h4>
      </div>
      <div class="col text-right">
        <app-filter-button (clicked)="filter($event)"></app-filter-button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-emp-table [expenses]="requests"></app-emp-table>
      </div>
    </div> -->
  </div>
  <div class="row">
    <button [routerLink]="['/new-exp']" routerLinkActive="router-link-active" type="button" class="btn btn-outline-primary btn-block my-4">Submit New Expense (make this a component?)</button>
  </div>
